@import "tailwindcss";

@font-face {
  font-family: 'Pusab';
  src: url('/PUSAB___.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-pusab: "Pusab", sans-serif;
}
